{% extends "base.html" %}
{% load static %}

{% block main %}


  <h3 class="text-center" >Change Password</h3>
            
              <div class="col-6  m-auto border border-dark" style="border-radius: 10px;">
              <form method="post" class="m-3">
                {% csrf_token %}
                <div class="form-outline mb-4">
                    <input type="password" id="form3Example4cg" placeholder="enter password" name="password" class="form-control form-control-lg" />
                    <label class="form-label" for="form3Example4cg"><i class="fa-solid fa-lock p-1"></i>Password</label>
                  </div>
  
                  <div class="form-outline mb-4">
                    <input type="password" id="form3Example4cdg" placeholder="re enter password" name="cpassword" class="form-control form-control-lg" />
                    <label class="form-label" for="form3Example4cdg"><i class="fa-solid fa-lock p-1"></i>Repeat your password</label>
                  </div>
                  <div class="d-flex justify-content-center">
                    <button type="submit"
                      class="btn btn-warning btn-block btn-lg gradient-custom-4 text-body">Change</button>
                  </div>
                    
              </form>

            </div>
         
  
{% endblock main %}