{% extends "base.html" %}
{% load static %}

{% block main %}

<h3 class="text-center" >Customer Signup</h3>

<div class="col-6  m-auto border border-dark" style="border-radius: 10px;">
  <form method="post" class="m-3">
    {% csrf_token %}
    {% if message %}
          <div class="form-group alert alert-danger">{{message}}</div>
        {% endif %}

    <div class="form-outline mb-4">
      <input type="text" id="form3Example1cg" placeholder="enter username" name="username" class="form-control form-control-lg" />
      <label class="form-label" for="form3Example1cg"><i class="fa-solid fa-user p-1"></i>Username</label>
    </div>

    <div class="form-outline mb-4">
      <input type="email" id="form3Example3cg" placeholder="enter email" name="email" class="form-control form-control-lg" />
      <label class="form-label" for="form3Example3cg"><i class="fa-solid fa-envelope p-1"></i>Your Email</label>
    </div>

    <div class="form-outline mb-4">
      <input type="password" id="form3Example4cg" placeholder="enter password" name="password" class="form-control form-control-lg" />
      <label class="form-label" for="form3Example4cg"><i class="fa-solid fa-lock p-1"></i>Password</label>
    </div>

    <div class="form-outline mb-4">
      <input type="password" id="form3Example4cdg" placeholder="enter password" name="cpassword" class="form-control form-control-lg" />
      <label class="form-label" for="form3Example4cdg"><i class="fa-solid fa-lock p-1"></i>Repeat your password</label>
    </div>

    <div class="form-outline mb-4">
      <input type="text" id="form3Example4cdg" placeholder="enter address" name="address" class="form-control form-control-lg" />
      <label class="form-label" for="form3Example4cdg"><i class="fa-solid fa-location-crosshairs p-1"></i>Address</label>
    </div>

    

    <div class="d-flex justify-content-center">
      <button type="submit"
        class="btn btn-outline-dark btn-block btn-lg ">Register</button>
    </div>

    <p class="text-center text-muted mt-5 mb-0">Have already an account? <a href="{% url 'customerlogin' %}" class="fw-bold text-body"><u >Login here</u></a></p>

  </form>


</div>
  


  
{% endblock main %}
